


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.2;
  font-size: 15px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.2;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 1000%;
  display: block;
}



.iconWithText {
  display: flex; /* Flexbox를 사용하여 요소를 가로로 배치 */

}

@media (max-width: 768px) {
  /* 화면 너비가 768px 이하일 때 적용될 스타일 */

  
}

