


.container {
    display: -ms-grid;
    padding-left: 50px;
    padding-right: 15px;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    height: 250%;
    width: 4px;
    background-color: rgb(157, 157, 157);
    z-index: -1;
  }

.header {
    display: flex;
    justify-content: center;
    background-image: url('../../../../public/naturescienceimage.png');
    color: white;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 80px;
}

.title {
    margin-top: 1rem;
}

.paragraph {
    margin-bottom: 1rem;
}

