.styledButton {
    background-color: rgb(248, 255, 248);
    padding: 0px 20px 10px 20px ;
    width: 90%;
    min-height: '500px';
    font-size: 10pt;
    border-radius: 20pt;
    box-shadow: 0pt 1pt 1pt rgb(214, 215, 215);
    min-height: 120px;
    margin-bottom: 5px;
    border-color: aliceblue;
  }
  
  .popup {
    background-color: rgb(249, 249, 249);
    position: fixed;
    top: 20%;  
    left: 82%;
    transform: translate(-50%, -20%);  
    max-height: 60%; 
    width: 500px;  
    padding: 20px;
    width: 25%;
    height: 400px;
    font-size: 10pt;
    border-radius: 20pt;
    box-shadow: 0pt 1pt 1pt rgb(214, 215, 215);
    margin-bottom: 5px;
    border-color: aliceblue;
    z-index: 1000;
    overflow: scroll;
    }
  